@import '../../sprite/scss/sp_tab';

.tab {
  .btn_area {
    display: table;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 56px;
    border-top: 1px solid #ececec;
    table-layout: fixed;
    background-color: #fff;
    .btn_tab {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      &.profile .btn:before {
        @include get-sprite-tab('icon_plane', 20);
      }
      &.currency .btn:before {
        @include get-sprite-tab('icon_wallet', 20);
      }
      &.expense .btn:before {
        @include get-sprite-tab('icon_document', 20);
      }
      &.report .btn:before {
        @include get-sprite-tab('icon_chart', 20);
      }
      &.btn_add {
        .btn {
          width: 20px;
          height: 20px;
          border: 1px solid #84b9e7;
          border-radius: 50%;
        }
        .btn_text {
          display: inline-block;
          margin: -2px 0 0 1px;
          color: #84b9e7;
          vertical-align: top;
        }
      }
    }
    .btn {
      &:before {
        display: inline-block;
        vertical-align: top;
        content: '';
      }
      &[aria-selected=true] .text {
        font-weight: bold;
      }
    }
    .text {
      display: block;
      margin-top: 2px;
      font-size: 9px;
    }
  }
  .layer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      content: '';
    }
    .layer_inner {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .btn_wrap {
      animation: fade_in 0.2s 1 ease-in both;
    }
    .btn_layer {
      display: block;
      width: 65px;
      margin: 0 auto;
      padding: 10px 0;
      border-radius: 50%;
      font-size: 12px;
      text-align: center;
      &:before {
        display: block;
        content: '';
      }
      &.income {
        background-color: #c0e3c3;
        color: #45b672;
        &:before {
          @include get-sprite-tab('icon_plus', 22);
        }
      }
      &.spending {
        background-color: #eebebd;
        color: #de7777;
        &:before {
          @include get-sprite-tab('icon_minus', 22);
        }
      }
      & + .btn_layer {
        margin-top: 15px;
      }
      .text {
        display: block;
        margin-top: 7px;
      }
    }
    .btn_close {
      width: 22px;
      height: 22px;
      margin: 15px 0;
      vertical-align: top;
      &:before {
        @include get-sprite-tab('icon_x', 22);
        content: '';
      }
    }
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
    margin-bottom: -15px;
  }
  to {
    opacity: 1;
    margin-bottom: 0;
  }
}
