@import '~sprite/sp_header';

.detail_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  .btn_home {
    position: absolute;
    top: 7px;
    left: 10px;
    &:before {
      display: inline-block;
      @include get-sprite-header('icon_home', 20);
      vertical-align: top;
      content: '';
    }
  }
}