@import '~sprite/sp_expense';

.expense_input {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  .text_input {
    display: block;
    width: 100%;
    height: 45px;
    border-top: 1px solid #f6f6f6;
    text-align: center;
    &::placeholder {
      color: #ccc;
    }
  }
  .keyboard_area {
    border-top: 1px solid #f4e1e2;
  }
  .btn_area {
    overflow: hidden;
    padding: 7px;
    .btn {
      padding: 8px 20px;
      font-size: 11px;
      border-radius: 5px;
      vertical-align: top;
      &.cancle {
        float: left;
        color: #e2797d;
        border: 1px solid #f1b3b1;
      }
      &.save {
        float: right;
        color: #dd6b6f;
        background-color: #f5adae;
      }
    }
  }
  .keyboard {
    width: 100%;
    margin-left: -1px;
    table-layout: fixed;
    text-align: center;
    tr {
      border-top: 1px solid #fbf1f1;
    }
    td {
      border-left: 1px solid #fbf1f1;
    }
    button {
      width: 100%;
      height: 50px;
      color: #64686e;
      &.operator {
        color: #e2797d;
      }
      &.delete:before {
        @include get-sprite-expense('icon_delete', 18);
        content: '';
      }
    }
  }
}