@import '../../../sprite/scss/sp_select';

:global(.country) {
  overflow: hidden;
  margin-top: 15px;
  .list {
    position: relative;
    padding: 0 25px 0 50px;
    & + .list {
      margin-top: 15px;
    }
  }
  .country_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    border-radius: 3px;
  }
  .country_title {
    display: block;
    width: 100%;
    height: 33px;
    line-height: 33px;
    padding-left: 14px;
    font-size: 15px;
    box-sizing: border-box;
  }
  .country_input {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 50%;
    &[aria-checked=true] {
      border: 2px solid #000;
      &:before {
        position: absolute;
        top: 4px;
        left: 4px;
        @include get-sprite-select('icon_checked', 12);
        content: '';
      }
    }
  }
}
