
$sprite-meta-tab: (
  "name": "tab",
  "width": 1596,
  "height": 1572
);
$sprite-map-tab: (
  
  "icon_chart": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -10,
  ),
    
  "icon_document": (
    "width": 488,
    "height": 488,
    "bg-top": -542,
    "bg-left": -1074,
  ),
    
  "icon_minus": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -542,
  ),
    
  "icon_plane": (
    "width": 512,
    "height": 512,
    "bg-top": -542,
    "bg-left": -10,
  ),
    
  "icon_plus": (
    "width": 512,
    "height": 512,
    "bg-top": -542,
    "bg-left": -542,
  ),
    
  "icon_wallet": (
    "width": 487.6,
    "height": 487.6,
    "bg-top": -1074,
    "bg-left": -10,
  ),
    
  "icon_x": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -1074,
  ),
    
);

@mixin get-sprite-tab($name, $width: null) {

  $sp-w: map-get($sprite-meta-tab, "width");
  $sp-h: map-get($sprite-meta-tab, "height");
  $img: map-get($sprite-map-tab, $name);
  $img-w: map-get($img, "width");
  $img-h: map-get($img, "height");
  $img-r: $img-w / $img-h;
  $img-bgt: map-get($img, "bg-top");
  $img-bgl: map-get($img, "bg-left");

  @if $width == null {
    $width: $img-w;
  }

  $height: $width / $img-r;

  $bgw: floor($width * ($sp-w / $img-w));
  $bgh: floor($height * ($sp-h / $img-h));
  $bgl: ($bgw / $sp-w) * $img-bgl;
  $bgt: ($bgh / $sp-h) * $img-bgt; 

  display: inline-block;
  width: #{$width}px;
  height: #{$height}px;
  background: url(public/img/sprite/_sp_tab.svg) no-repeat;
  background-position: #{$bgl}#{"px"} #{$bgt}#{"px"};
  background-size: #{$bgw}px #{$bgh}px;
  vertical-align: top;
}
