
$sprite-meta-header: (
  "name": "header",
  "width": 1596,
  "height": 1574
);
$sprite-map-header: (
  
  "icon_1_square": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -10,
  ),
    
  "icon_2_square": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -542,
  ),
    
  "icon_4_square": (
    "width": 512,
    "height": 512,
    "bg-top": -542,
    "bg-left": -10,
  ),
    
  "icon_home": (
    "width": 512,
    "height": 512,
    "bg-top": -542,
    "bg-left": -542,
  ),
    
  "icon_home_black": (
    "width": 512,
    "height": 512,
    "bg-top": -10,
    "bg-left": -1074,
  ),
    
  "icon_setting": (
    "width": 478.7,
    "height": 478.7,
    "bg-top": -1074,
    "bg-left": -519.4,
  ),
    
  "icon_shop": (
    "width": 489.4,
    "height": 489.4,
    "bg-top": -1074,
    "bg-left": -10,
  ),
    
  "icon_user": (
    "width": 512,
    "height": 512,
    "bg-top": -542,
    "bg-left": -1074,
  ),
    
);

@mixin get-sprite-header($name, $width: null) {

  $sp-w: map-get($sprite-meta-header, "width");
  $sp-h: map-get($sprite-meta-header, "height");
  $img: map-get($sprite-map-header, $name);
  $img-w: map-get($img, "width");
  $img-h: map-get($img, "height");
  $img-r: $img-w / $img-h;
  $img-bgt: map-get($img, "bg-top");
  $img-bgl: map-get($img, "bg-left");

  @if $width == null {
    $width: $img-w;
  }

  $height: $width / $img-r;

  $bgw: floor($width * ($sp-w / $img-w));
  $bgh: floor($height * ($sp-h / $img-h));
  $bgl: ($bgw / $sp-w) * $img-bgl;
  $bgt: ($bgh / $sp-h) * $img-bgt; 

  display: inline-block;
  width: #{$width}px;
  height: #{$height}px;
  background: url(/public/img/sprite/_sp_header.svg) no-repeat;
  background-position: #{$bgl}#{"px"} #{$bgt}#{"px"};
  background-size: #{$bgw}px #{$bgh}px;
  vertical-align: top;
}
