.detail {
  padding-bottom: 155px;
  .btn_add {
    position: fixed;
    left: 50%;
    bottom: 20px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    background-color: #4dc4fa;
    font-size: 13px;
    color: #fff;
    text-align: center;
    transform: translateX(-50%);
  }
}
