@import '~sprite/sp_expense';

.expense {
  .fixed_area {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    background-color: #fff;
  }
  .date_tab {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .date_area {
      display: inline-block;
      position: relative;
      vertical-align: top;
      & + .date_area:before {
        position: absolute;
        top: 12px;
        bottom: 12px;
        width: 1px;
        background-color: #e8eaeb;
        content: '';
      }
    }
    .btn_tab {
      padding: 8px;
      text-align: center;
      &[aria-selected=true] {
        color: #fff;
        .tab_title {
          border-radius: 50%;
          background-color: #8ac2ea;
        }
      }
    }
    .tab_title {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      vertical-align: top;
    }
    .text {
      margin-top: 3px;
      color: #b6b7bc;
      font-size: 7px;
    }
  }
  .info_area {
    padding: 10px;
    background-color: #f7f9fd;
    border-top: 1px solid #ebf0f4;
    color: #687079;
    .expense_info {
      position: relative;
    }
    .btn_area {
      .btn {
        height: 26px;
        padding: 0 10px;
        border: 1px solid #edf4fb;
        border-radius: 13px;
        background-color: #fff;
        font-size: 10px;
        color: #687079;
        vertical-align: top;
        & + .btn {
          margin-left: 7px;
        }
        &[aria-selected=true] {
          background-color: #8ac2ea;
          color: #fff;
        }
      }
    }
    .btn_view_type {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 10px;
      color: #8ac2ea;
      &:before {
        position: absolute;
        top: 0;
        left: -15px;
        bottom: 0;
        width: 1px;
        background-color: #ccc;
        content: '';
      }
    }
    .date_info {
      position: relative;
      margin-top: 5px;
      font-size: 11px;
      .d_day {
        font-weight: bold;
      }
      .date {
        position: relative;
        padding-left: 15px;
        &:before {
          position: absolute;
          top: 0;
          left: 7px;
          bottom: 0;
          width: 1px;
          background-color: #ccc;
          content: '';
        }
      }
      .total_expense {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
  .expense_list {
    position: fixed;
    top: 156px;
    left: 0;
    right: 0;
    bottom: 113px;
    overflow-y: scroll;
    overflow-x: hidden;
    .list.spending {
      .detail_info .info_inner .detail_expense {
        color: #eb7e7d;
      }
    }
    .list.income {
      .detail_info .info_inner .detail_expense {
        color: #8ac2ea;
      }
    }
    .wrapper {
      display: table;
      width: 100%;
      height: 70px;
      table-layout: fixed;
      .inner {
        display: table-cell;
        vertical-align: middle;
      }
    }
    .icon {
      width: 100px;
      &:before {
        content: '';
      }
      &.food {
        &:before {
          @include get-sprite-expense('icon_fork_knife', 25);
        }
      }
      &.shopping {
        &:before {
          @include get-sprite-expense('icon_shopping_bag', 25);
        }
      }
      &.tour {
        &:before {
          @include get-sprite-expense('icon_train', 25);
        }
      }
      &.accommodation {
        &:before {
          @include get-sprite-expense('icon_bedroom', 25);
        }
      }
    }
    .detail_info {
      text-align: left;
      .info_inner {
        .detail_expense {
          color: #000;
          font-size: 15px;
        }
        .ready {
          display: inline-block;
          vertical-align: top;
          padding: 2px 5px;
          margin: 1px 0 0 5px;
          border-radius: 4px;
          background-color: #f9f7f7;
          color: #ababab;
          font-size: 10px;
        }
      }
      .info_text {
        margin-top: 2px;
        font-size: 12px;
      }
    }
    .time{
      width: 100px;
      font-size: 11px;
      color: #c7cbdb;
    }
  }
  .total_area {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 56px;
    height: 57px;
    background-color: #eef1f9;
    line-height: 57px;
    text-align: center;
    .text {
      color: #a9acb3;
      font-size: 10px;
    }
    .total_expense {
      margin-left: 10px;
      font-size: 15px;
    }
  }
}